@page "/memberedit"

@using DataAccess.Data
@using Web_Project.DataModels

@inject MemberData _db
@inject IMatDialogService MatDialogService

<h1>Memberedit</h1>
<h3>Current Member</h3>
<div class="form-inline">
	<label class="sr-only" for="filter-name">Filter</label>
	<input type="text" class="form-control mb-2 mr-sm-2"
	       placeholder="Filter by name"/>
	<button type="button" class="btn btn-primary mr-sm-2 mb-2">Filter</button>
	<button type="button" class="btn btn-danger  mb-2">Clear test</button> 
</div>
@if (members is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Member Id</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var member in members)
			{
			<tr>
				<td>@member.MemberId</td>
				<td>
					<MatIconButton Icon="build"></MatIconButton>
					<MatDialog @bind-IsOpen="@dialogIsOpen">
						<MatDialogTitle>Hi</MatDialogTitle>
							<MatDialogContent>
								<p>Edit Product</p>
									<MatTextField Label="Product ID" @bind-Value="@member.MemberId"></MatTextField>
							</MatDialogContent>
							<MatDialogActions>
									<MatButton OnClick="@(e => { dialogIsOpen = false; })">Cancel</MatButton>
									<MatButton OnClick="@OkClick">Save</MatButton>
							</MatDialogActions>
					</MatDialog>
					<MatIconButton Icon="delete" OnClick="@(_ => OpenConfirmFromService())"></MatIconButton>
				</td>
			</tr>
		}
		</tbody>
	</table>
}

@code {
	bool dialogIsOpen = false;

	private List<Member> members;

	protected override async Task OnInitializedAsync()
	{
		members = await _db.GetMember();
	}
    void OkClick()
    {
        dialogIsOpen = false;
		OnInitializedAsync();
    }

    void OpenDialog()
    {
        dialogIsOpen = true;
    }

    async Task OpenConfirmFromService()
    {
        await MatDialogService.ConfirmAsync("Are you sure you want to delete this?");
    }
}
