@page "/memberedit"

@using DataAccess.Data
@using Web_Project.DataModels

@inject AuthenticationStateProvider authStateProvider
@inject MemberData _db
@inject IMatDialogService MatDialogService

<AuthorizeView Roles="Administrator">
	<Authorized>
<h1>Member Edit</h1>
<MatButton Icon="note_add" OnClick="@OpenAddDialog">Add new member</MatButton>
<h2>Current Member</h2>
	<MatDialog @bind-IsOpen="@dialogAddIsOpen">
		<MatDialogContent>
			<p>Insert Member</p>
				<MatTextField Label="First Name" @bind-Value="@newmember.FirstName"></MatTextField>
				<MatTextField Label="LastName" @bind-Value="@newmember.LastName"></MatTextField>
				<MatTextField Label="Email" @bind-Value="@newmember.Email"></MatTextField>
				<MatTextField Label="Password" @bind-Value="@newmember.Password"></MatTextField>
				<MatSelectItem Label="Role" @bind-Value="@newmember.Role" Items="@memberRoles"></MatSelectItem>
		</MatDialogContent>
		<MatDialogActions>
			<MatButton OnClick="@(e => { dialogAddIsOpen = false; })">Cancel</MatButton>
			<MatButton OnClick="@(_ => InsertMember())">Insert</MatButton>
		</MatDialogActions>
	</MatDialog>
@if (members is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Password</th>
				<th>Role</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var member in members)
			{
			<tr>
				<td>@member.FirstName</td>
				<td>@member.LastName</td>
				<td>@member.Email</td>
				<td>@member.Password</td>
				<td>@member.Role</td>
				<td>
					<MatIconButton Icon="build" @bind-value="@member.MemberId" @onclick="() => GetMemberById(member.MemberId)"></MatIconButton>
					<MatDialog @bind-IsOpen="@dialogEditIsOpen">
							<MatDialogContent>
								<p>Edit Member</p>
									<MatTextField Label="Member ID" @bind-Value="@member.MemberId"></MatTextField>
									<MatTextField Label="First Name" @bind-Value="@member.FirstName"></MatTextField>
									<MatTextField Label="LastName" @bind-Value="@member.LastName"></MatTextField>
									<MatTextField Label="Email" @bind-Value="@member.Email"></MatTextField>
									<MatTextField Label="Password" @bind-Value="@member.Password"></MatTextField>
									<MatSelectItem Label="Role" @bind-Value="@member.Role" Items="@memberRoles"></MatSelectItem>
							</MatDialogContent>
							<MatDialogActions>
									<MatButton OnClick="@OkClick">Cancel</MatButton>
									<MatButton @onclick="() => UpdateMember(member)">Save</MatButton>
							</MatDialogActions>
					</MatDialog>
					<MatIconButton Icon="delete" @bind-value="@member.MemberId" @onclick="() => OpenDelDialog()"></MatIconButton>
					<MatDialog @bind-IsOpen="@dialogDelIsOpen">
						<MatDialogTitle>Confirm Delete</MatDialogTitle>
							<MatDialogActions>
									<MatButton OnClick="@(e => { dialogDelIsOpen = false; })">Cancel</MatButton>
									<MatButton @onclick="() => DeleteMember(member.MemberId)">Confirm</MatButton>
							</MatDialogActions>
					</MatDialog>
				</td>
			</tr>
		}
		</tbody>
	</table>
}
	</Authorized>
</AuthorizeView>
@code {
	bool dialogAddIsOpen = false;
	bool dialogEditIsOpen = false;
	bool dialogDelIsOpen = false;
	private List<Member> members;

	private Member newmember = new Member();

	protected override async Task OnInitializedAsync()
	{
		members = await _db.GetMember();
	}

	private async Task GetMemberById(int Id)
	{
		members = await _db.GetMemberById(Id);
		dialogEditIsOpen = true;
	}

	private async Task InsertMember()
	{
		var newMember = new Member();
		dialogAddIsOpen = false;
		await _db.InsertMember(newmember);

		Rerender();
	}

	private async Task DeleteMember(int Id)
	{
		await _db.DeleteMember(Id);
		dialogDelIsOpen = false;

		Rerender();
	}

	private async Task UpdateMember(Member member)
	{
		await _db.UpdateMember(member);
		dialogEditIsOpen = false;

		Rerender();
	}

	void OkClick()
	{
		dialogEditIsOpen = false;
		Rerender();
	}

	void OpenAddDialog()
	{
		dialogAddIsOpen = true;
	}

	void OpenEditDialog()
	{
		dialogEditIsOpen = true;
	}

	void OpenDelDialog()
	{
		dialogDelIsOpen = true;
	}

	string[] memberRoles = new[]
            {
                "Administrator",
                "User",
            };

	private async Task Rerender()
    {
        members = await _db.GetMember();
    }
}
